#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-title {
  font-weight: bold;
  font-size: 4em;
}

.action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.custom-button {
  border: none;
  outline: none;
  background-color: grey;
  color: white;
}


